/********** Design de boutons custom **********/
.customBTN {
    background-image: linear-gradient(180deg, rgba(0,191,166,1) 0%, rgba(0,173,146,1) 100%);
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
}

.customBTN span:last-child {
    display: none;
}

.customBTN:hover {
    transition: .4s;
    border: 2px solid #00BFA6;
    background-image: none;
    color: #00BFA6;
}

.customBTN:active {
    background-color: #87dbd0;
}

.customBTNred {
    background-image: linear-gradient(180deg, rgba(233,0,0,1) 50%, rgba(191,0,0,1) 100%);
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #e90000;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
    width: 120px;
}

.customBTNred span:last-child {
    display: none;
}

.customBTNred:hover {
    transition: .4s;
    border: 2px solid #e90000;
    background-image: none;
    color: #e90000;
}

.customBTNred:active {
    background-color: #ffcdcd;
}


/********** Pour que le menu soit à droite dans le Header **********/
.navbar-collapse {
    display: flex;
    justify-content: end;
}


/********** Tableau des sorties **********/
.tableau_sorties {
    text-align: center;
}

td, th {
    border: 1px solid #e0e0e0;
}


/********** HEADER - Brand / Logo / Nom **********/
header {
    background-image: linear-gradient(to right, rgb(88, 28, 135), rgb(217, 70, 239), rgb(251, 146, 60));
    box-shadow: rgba(50, 50, 93, 0.25) 0 -2px 5px 1px, rgba(0, 0, 0, 0.3) 0 -1px 10px 1px;
}

.nightowl_logo {
    width: 65px;
}

.brand {
    display: flex;
    align-items: center;
}

.brand_name > a {
    padding-left: 20px;
    font-size: 1.8rem;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', cursive;
}


/********** FOOTER **********/
footer {
    background-color: #505050;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px 1px, rgba(0, 0, 0, 0.3) 0 1px 10px 1px;
}

.copyright {
    background-color: #2d2d2d;
}



