/********** Design de boutons custom **********/
.customBTN {
    background-color: rgba(0,191,166,1);
    padding: 3px 7px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
    min-width: 125px;
}

.customBTN span:last-child {
    display: none;
}

.customBTN:hover {
    transition: .4s;
    border: 2px solid #00BFA6;
    background-color: #fff;
    color: #00BFA6;
}

.customBTN:active {
    background-color: #87dbd0;
}

.customBTNred {
    background-color: rgba(233,0,0,1);
    padding: 3px 7px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #e90000;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
    min-width: 125px;
}

.customBTNred span:last-child {
    display: none;
}

.customBTNred:hover {
    transition: .4s;
    border: 2px solid #e90000;
    background-color: #fff;
    color: #e90000;
}

.customBTNred:active {
    background-color: #ffcdcd;
}

.customBTNyellow{
    background-color: rgb(250, 184, 84);
    padding: 3px 7px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(250, 184, 84);
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
    min-width: 120px;
}

.customBTNyellow span:last-child {
    display: none;
}

.customBTNyellow:hover {
    transition: .4s;
    border: 2px solid rgb(250, 184, 84);
    background-color: #fff;
    color: rgb(250, 184, 84);
}

.customBTNyellow:active {
    background-color: rgb(255, 225, 187);
}


/********** Pour que le menu soit à droite dans le Header **********/
.navbar-collapse {
    display: flex;
    justify-content: end;
}


/********** Tableau des sorties **********/
.tableau_sorties {
    text-align: center;
}

td, th {
    border: 1px solid #e0e0e0;
}


/********** HEADER - Brand / Logo / Nom **********/
header {
    background-image: linear-gradient(to right, rgb(88, 28, 135), rgb(217, 70, 239), rgb(251, 146, 60));
    box-shadow: rgba(50, 50, 93, 0.25) 0 -2px 5px 1px, rgba(0, 0, 0, 0.3) 0 -1px 10px 1px;
}

.nightowl_logo {
    width: 65px;
}

.brand {
    display: flex;
    align-items: center;
}

.brand_name > a {
    padding-left: 20px;
    font-size: 1.8rem;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', cursive;
}


/********** FOOTER **********/
footer {
    background-color: #505050;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px 1px, rgba(0, 0, 0, 0.3) 0 1px 10px 1px;
}

.copyright {
    background-color: #2d2d2d;
}

.participants {
    text-align: center;
}

/********** ADMIN GESTION PARTICIPANTS - Formulaire **********/
.participants_form_input > td > input {
    width: 100px;
}

.h1_title {
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.organisateur {
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: center;
}

.orga {
    margin: 0;
    display: flex;
    align-items: center;
}
.buttoninline{
    display: inline;
}
.photoProfil{
    width: 200px; /* ajuster la largeur selon les besoins */
    height: 200px; /* ajuster la hauteur selon les besoins */
    border-radius: 50%; /* forme arrondie */
    object-fit: cover; /* ajustement de la photo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid ;
    margin-bottom: 25px;
}